<section class="achievements">
    <div class="achievements__container">
        <h2 class="achievements__title page-title">achievements</h2>
        <div class="achievements__cards">
            <div class="achievements__card">
                <div class="achievements__picture">
                    <img class="achievements__img" src="@img/achievements/puzzle.png" alt="">
                </div>
                <p class="achievements__text">Collaboration with <span>Moon Studios</span> on WotW AAA Unity game</p>
            </div>

            <div class="achievements__card">
                <div class="achievements__picture">
                    <img class="achievements__img" src="@img/achievements/rocket.png" alt="">
                </div>
                <p class="achievements__text"><span>50+ </span>successfully launched projects on the the market</p>
            </div>

            <div class="achievements__card">
                <div class="achievements__picture">
                    <img class="achievements__img achievements__img_small" src="@img/achievements/phone.png" alt="">
                </div>
                <p class="achievements__text">Asset store publisher since <span>2013</span></p>
            </div>

            <div class="achievements__card">
                <div class="achievements__picture">
                    <img class="achievements__img achievements__img_small" src="@img/achievements/box.png" alt="">
                </div>
                <p class="achievements__text">Our products (packages) used by <span>100k+</span> devs in <span>5k+</span> commercial projects worldwide</p>
            </div>
        </div>
    </div>
</section>