<section class="companies">
    <div class="companies__container">
        <h2 class="companies__title page-title">Partners</h2>
        
        <div data-showmore="items" class="companies__wrapper">
            <div data-showmore-content="4" class="companies__cards">
                    <div class="companies__card">
                        <img src="@img/companies/moon.png" alt="moon">
                    </div>
                    <div class="companies__card">
                        <img src="@img/companies/scopely.png" alt="scopely">
                    </div>
                    <div class="companies__card">
                        <img src="@img/companies/roomful.png" alt="roomful">
                    </div>
                    <div class="companies__card">
                        <img src="@img/companies/rogue-sun.png" alt="rogue">
                    </div>
                    <div class="companies__card">
                        <img src="@img/companies/play-maker.png" alt="play-maker">
                    </div>
                    <div class="companies__card">
                        <img src="@img/companies/one-signal.png" alt="one-signal">
                    </div>
                    <div class="companies__card">
                        <img src="@img/companies/plawius.png" alt="plawius">
                    </div>
                    <div class="companies__card">
                        <img src="@img/companies/soomla.png" alt="soomla">
                    </div>
                    <div class="companies__card">
                        <img src="@img/companies/unibit.png" alt="unibit">
                    </div>
                    <div class="companies__card">
                        <img src="@img/companies/recenzent.png" alt="recenzent">
                    </div>
                    <div class="companies__card">
                        <img src="@img/companies/mobik-ts.png" alt="mobik-ts">
                    </div>
                    <div class="companies__card">
                        <img src="@img/companies/true-industries.png" alt="true-industries">
                    </div>
            </div>
            <button data-showmore-button type="button" class="companies__showmore"><span>Show more</span> </button>
        </div>
    </div>

</section>