<section class="contacts">
    <div class="middle-wrapper">
        <h2 class="page-title contacts__title">CONTACTS</h2>
        <p class="contacts__subtitle">We are open for dialog and you are welcome to share your opinions or thoughts with us</p>
        <p class="contacts__text-small">Hit us up any time through email with any idea and help us turn your great ideas into brilliant projects</p>
        <div class="contacts__info">
            <div class="contacts__description">
                <ul class="contacts__links">
                    <li class="contacts__item">
                        <a class="contacts__link" href="https://goo.gl/maps/ykdVvs1JvC6zV2ig8">
                        <svg class=""><use xlink:href="@img/sprite.svg#location"></use></svg>
                        <p>Ukraine, Kyiv, Rodyny Kristeriv 20B, office 188</p>
                        </a>
                        
                    </li>
                    <li class="contacts__item">
                        <a class="contacts__link" href="tel:+38 (093) 345 56 76">
                        <svg class=""><use xlink:href="@img/sprite.svg#tel"></use></svg>
                        <p>+38 (093) 345 56 76</p>
                        </a>
                    </li>
                    <li class="contacts__item">
                        <a class="contacts__link" href="https://wa.me/+380933455677">
                        <svg class=""><use xlink:href="@img/sprite.svg#whatsapp"></use></svg>
                        <p>+38 (093) 345 56 77</p>
                        </a>
                    </li>
                    <li class="contacts__item">
                        <a class="contacts__link" href="skype:Stanassets:chat">
                        <svg class=""><use xlink:href="@img/sprite.svg#skype"></use></svg>
                        <p>Stanassets</p>
                        </a>
                    </li>
                    <li class="contacts__item">
                        <a class="contacts__link" href="mailto:stanAssets@gmail.com">
                        <svg class=""><use xlink:href="@img/sprite.svg#email"></use></svg>
                        <p>stanassets@gmail.com</p>
                        </a>
                    </li>
                    <li class="contacts__item">
                        <a class="contacts__link" href="https://www.facebook.com/Stanassets/">
                        <svg class=""><use xlink:href="@img/sprite.svg#facebook"></use></svg>
                        <p>Facebook.com/Stanassets</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="contacts__wrapper-form">
             <svg class="contacts__svg contacts__svg_message"><use xlink:href="@img/sprite.svg#form-message"></use></svg>
             <img src="@img/contacts/form-phone.svg" class="contacts__svg contacts__svg_phone" alt="">
             <svg class="contacts__svg contacts__svg_email"><use xlink:href="@img/sprite.svg#form-email"></use></svg>
             <form action="" class="contacts__form">
                <ul class="contacts__fields">
                    <li class="contacts__form-item">
                        <input type="text" placeholder="Name" class="contacts__field" required>
                    </li>
                    <li class="contacts__form-item">
                        <input type="email" placeholder="Email" class="contacts__field" required>
                    </li>
                    <li class="contacts__form-item">
                        <textarea class="contacts__field" required cols="30" rows="3" placeholder="Message" minlength="10" maxlength="150" ></textarea>
                    </li>
                    <li class="contacts__submit">
                        <input type="submit" value="SEND REQUEST">
                    </li>
                </ul>
            </form>
            </div>
            
        </div>
    </div>
</section>