<footer class="footer">
    <div class="footer__container">
        <div class="footer__wrapper">
            <ul class="footer__blocks">

                <li class="footer__block footer__pictures">
                    <div class="footer__logo">
                        <img src="@img/footer/logo-footer.png" alt="">
                    </div>
                    <div class="footer__icons">
                        <a href="">
                            <svg class=""><use xlink:href="@img/sprite.svg#sidebar-facebook"></use></svg>
                        </a>
                        <a href="">
                            <svg class=""><use xlink:href="@img/sprite.svg#sidebar-linkedin"></use></svg>
                        </a>
                        <a href="">
                            <svg class=""><use xlink:href="@img/sprite.svg#sidebar-whatsapp"></use></svg>
                        </a>
                        <a href="">
                            <svg class=""><use xlink:href="@img/sprite.svg#sidebar-skype"></use></svg>
                        </a>
                        <a href="">
                            <svg class=""><use xlink:href="@img/sprite.svg#sidebar-github"></use></svg>
                        </a>
                    </div>
                </li>

                <li class="footer__block footer-list">
                    <a href="" class="footer-list__link">SERVICES</a>
                    <ul class="footer-list__sublist">
                        <li>
                            <a href="" class="footer-list__sublink">Mobile Application Development</a>
                        </li>
                        <li>
                            <a href="" class="footer-list__sublink">Game Development Outsourcing</a>
                        </li>
                        <li>
                            <a href="" class="footer-list__sublink">VR App Development Dedicated</a>
                        </li>
                    </ul>
                </li>

                <li class="footer__block footer-list">
                    <a href="" class="footer-list__link">TECHNOLOGIES</a>
                    <ul class="footer-list__sublist">
                        <li>
                            <a href="" class="footer-list__sublink">Android</a>
                        </li>
                        <li>
                            <a href="" class="footer-list__sublink">IOS</a>
                        </li>
                        <li>
                            <a href="" class="footer-list__sublink">Unity</a>
                        </li>
                    </ul>
                </li>

                <li class="footer__block footer-list">
                    <a href="" class="footer-list__link">PRODUCTS</a>
                    <a href="" class="footer-list__link">PORTFOLIO</a>
                    <a href="" class="footer-list__link">BLOG</a>
                </li>

                <li class="footer__block footer-list">
                    <a href="" class="footer-list__link">ABOUT US</a>
                    <ul class="footer-list__sublist">
                        <li>
                            <a href="" class="footer-list__sublink">Contacts</a>
                        </li>
                        <li>
                            <a href="" class="footer-list__sublink">Team</a>
                        </li>
                        <li>
                            <a href="" class="footer-list__sublink">Join the Team</a>
                        </li>
                    </ul>
                </li>
                
            </ul>
        </div>
    </div>
    <div class="footer__sub-info sub-info">
        <div class="footer__container">
            <div class="sub-info__wrapper">
                <a href="" class="sub-info__link sub-info__link_main"> 2021 - Stan’s Assets. All Right Reserved</a>
                <div class="sub-info__policy">
                    <a href="" class="sub-info__link">Privacy policy</a>
                    <a href="" class="sub-info__link">Cookies policy</a>
                </div>
            </div>
        </div>
    </div>

</footer>