<header class="header">
	<div class="header__container header__blocks">
		<div class="header__logo">
			<img src="@img/header/header-logo.png" alt="">
		</div>
		<div class="header__menu">
			<nav class="menu">
				<ul class="menu__list">
					<li class="menu__arrow-item">
						<a href="" class="link-menu">SERVICES</a>
						<div class="arrow">
							<svg class="arrow__icon"><use xlink:href="@img/sprite.svg#arrow-down"></use></svg>
						</div>
						<ul class="sub-menu__list">
							<li>
								<a href="" class="link-menu">MOBILE APPLICATION DEVELOPMENT</a>
							</li>
							<li>
								<a href="" class="link-menu">GAME DEVELOPMENT OUTSOURCING</a>
							</li>
							<li>
								<a href="" class="link-menu">VR APP DEVELOPMENT DEDICATED</a>
							</li>
						</ul>
					</li>
					<li class="menu__arrow-item">
						<a href="" class="link-menu">TECHNOLOGIES</a>
						<div class="arrow">
							<svg class="arrow__icon"><use xlink:href="@img/sprite.svg#arrow-down"></use></svg>
						</div>
						<ul class="sub-menu__list">
							<li>
								<a href="" class="link-menu">ANDROID</a>
							</li>
							<li>
								<a href="" class="link-menu">IOS</a>
							</li>
							<li>
								<a href="" class="link-menu">UNITY</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="" class="link-menu">PRODUCTS</a>
					</li>
					<li>
						<a href="" class="link-menu">PORTFOLIO</a>
					</li>
					<li>
						<a href="" class="link-menu">BLOG</a>
					</li>
					<li class="menu__arrow-item">
						<a href="" class="link-menu">ABOUT US</a>
						<div class="arrow">
							<svg class="arrow__icon"><use xlink:href="@img/sprite.svg#arrow-down"></use></svg>
						</div>
						<ul class="sub-menu__list">
							<li>
								<a href="" class="link-menu">Contacts</a>
							</li>
							<li>
								<a href="" class="link-menu">Team</a>
							</li>
							<li>
								<a href="" class="link-menu">Join the Team</a>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
			<div class="header__contact header__contact_inside contact">
				<button class="contact__button">CONTACT US</button>
			</div>
			<div class="header__close">
				<span>close</span>
			</div>
		</div>
		
		<div class="header__contact header__contact_outside contact">
			<button class="contact__button">CONTACT US</button>
		</div>

		<div class="header__burger">
			<span></span>
		</div>
	</div>
</header>