<section class="intro">
    <div class="intro__slider">
        <div class="intro__swiper">
            <div class="intro__slide intro__slide_one">
                <div class="intro__container">
                     <div class="intro__body ">
                        <h1 class="intro__title">FOCUS ON THE PRODUCT AND LET US DO THE REST!</h1>
                        <p class="intro__text">We’re an Indian software development company focused on just one thing - offshore software development services. We have 16+ years of experience and a team of 450+ developers working efficiently to deliver unique solutions to start-ups, software development companies, enterprises, and digital agencies to simplify their IT outsourcing experience & reduce time/cost to market.</p>
                        <div class="intro__buttons">
                            <button class="intro__btn">MORE</button>
                            <button class="intro__btn intro__btn_green">Contact us</button>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="intro__slide intro__slide_two">
                <div class="intro__container">
                     <div class="intro__body ">
                        <h1 class="intro__title">FOCUS ON THE PRODUCT AND LET US DO THE REST!</h1>
                        <p class="intro__text">We’re an Indian software development company focused on just one thing - offshore software development services. We have 16+ years of experience and a team of 450+ developers working efficiently to deliver unique solutions to start-ups, software development companies, enterprises, and digital agencies to simplify their IT outsourcing experience & reduce time/cost to market.</p>
                        <div class="intro__buttons">
                            <button class="intro__btn">MORE</button>
                            <button class="intro__btn intro__btn_green"><span>Contact us</span></button>
                        </div>
                        
                    </div>
                </div> 
            </div>
            <div class="intro__slide intro__slide_three">
                <div class="intro__container">
                     <div class="intro__body ">
                        <h1 class="intro__title">FOCUS ON THE PRODUCT AND LET US DO THE REST!</h1>
                        <p class="intro__text">We’re an Indian software development company focused on just one thing - offshore software development services. We have 16+ years of experience and a team of 450+ developers working efficiently to deliver unique solutions to start-ups, software development companies, enterprises, and digital agencies to simplify their IT outsourcing experience & reduce time/cost to market.</p>
                        <div class="intro__buttons">
                            <button class="intro__btn">MORE</button>
                            <button class="intro__btn intro__btn_green"><span>Contact us</span></button>
                        </div>
                        
                    </div>
                </div> 
            </div>
        </div>
        
            <div class="intro__container intro__container_pagination">
                <div class="swiper-pagination"></div>
            </div>
        
    </div>
</section>

<div class="intro__container">
    <div class="intro__body ">
       <p class="intro__text intro__text_outside">We’re an Indian software development company focused on just one thing - offshore software development services. We have 16+ years of experience and a team of 450+ developers working efficiently to deliver unique solutions to start-ups, software development companies, enterprises, and digital agencies to simplify their IT outsourcing experience & reduce time/cost to market.</p>
   </div>
</div> 

