<section class="services">
    <div class="services__wrapper middle-wrapper">
        <h2 class="services__title page-title">Services</h2>
        <div class="services__parts">
            <div class="part">
                <div class="part__text">
                    <h3 class="part__title">GAME DEVELOPMENT</h3>
                    <p class="part__subtitle">With over 5 years of game development experience, we have all that it takes to develop a high quality product.</p>
                </div>
                <div class="services__picture">
                    <img src="@img/services/game.png" alt="game-dev-service">
                </div>
            </div>    

            <div class="part part_reverse">
                <div class="part__text">
                    <h3 class="part__title">SDK Development</h3>
                    <p class="part__subtitle">Stan's Assets is one of the most popular developers within the Unity Asset Store. Want to test some of our amazing software? Check out one of our many plugins. We guarantee your satisfaction.
                    </p>
                </div>
                <div class="services__picture">
                    <img src="@img/services/sdk.png" alt="sdk-service">
                </div>
            </div>    

            <div class="part">
                <div class="part__text">
                    <h3 class="part__title">3D Modeling services</h3>
                    <p class="part__subtitle">We pride ourselves on producing high quality graphics support. Providing experienced designers to any project, and offering affordable pricing for almost any budget.</p>
                </div>
                <div class="services__picture">
                    <img src="@img/services/model.png" alt="3d-model-service">
                </div>
            </div>    

            <div class="part part_reverse">
                <div class="part__text">
                    <h3 class="part__title">VR App Development</h3>
                    <p class="part__subtitle">Virtual Reality is the future of gaming. We have expertise that can create a professional and fluid virtual reality experience unlike anything you have ever seen.</p>
                </div>
                <div class="services__picture">
                    <img src="@img/services/vr.png" alt="vr-service">
                </div>
            </div>    
       
        </div>
    </div>
</section>